!!! 5
html(lang='en')
  head
    meta(http-equiv="X-UA-Compatible", content="IE=9")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title= title
    script(src='/js/lib/jquery-1.8.2.min.js')
    script(src='/js/lib/underscore-min.js')
    script(src='/js/lib/backbone-min.js')
    script(src='/js/lib/hogan-2.0.0.min.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
body!= body
  