script#card-back(type='text/x-mustache-template')
  .card-back
    span.middle_center
      img(src='img/back.png')
script#card-two(type='text/x-mustache-template')
  .card-two
    .corner.top
      span.number 2
      span {{{suit.symbol}}}
    span.suit.top_center {{{suit.symbol}}}
    span.suit.bottom_center {{{suit.symbol}}}
    .corner.bottom
      span.number 2
      span {{{suit.symbol}}}
script#card-three(type='text/x-mustache-template')
  .card-three
    .corner.top
      span.number 3
      span {{{suit.symbol}}}
    span.suit.top_center {{{suit.symbol}}}
    span.suit.middle_center {{{suit.symbol}}}
    span.suit.bottom_center {{{suit.symbol}}}
    .corner.bottom
      span.number 3
      span {{{suit.symbol}}}
script#card-four(type='text/x-mustache-template')
  .card-four
    .corner.top
      span.number 4
      span {{{suit.symbol}}}
    span.suit.top_left {{{suit.symbol}}}
    span.suit.top_right {{{suit.symbol}}}
    span.suit.bottom_left {{{suit.symbol}}}
    span.suit.bottom_right {{{suit.symbol}}}
    .corner.bottom
      span.number 4
      span {{{suit.symbol}}}
script#card-five(type='text/x-mustache-template')
  .card-five
    .corner.top
      span.number 5
      span {{{suit.symbol}}}
    span.suit.top_left {{{suit.symbol}}}
    span.suit.top_right {{{suit.symbol}}}
    span.suit.middle_center {{{suit.symbol}}}
    span.suit.bottom_left {{{suit.symbol}}}
    span.suit.bottom_right {{{suit.symbol}}}
    .corner.bottom
      span.number 5
      span {{{suit.symbol}}}
script#card-six(type='text/x-mustache-template')
  .card-six
    .corner.top
      span.number 6
      span {{{suit.symbol}}}
    span.suit.top_left {{{suit.symbol}}}
    span.suit.top_right {{{suit.symbol}}}
    span.suit.middle_left {{{suit.symbol}}}
    span.suit.middle_right {{{suit.symbol}}}
    span.suit.bottom_left {{{suit.symbol}}}
    span.suit.bottom_right {{{suit.symbol}}}
    .corner.bottom
      span.number 6
      span {{{suit.symbol}}}
script#card-seven(type='text/x-mustache-template')
  .card-seven
    .corner.top
      span.number 7
      span {{{suit.symbol}}}
    span.suit.top_left {{{suit.symbol}}}
    span.suit.top_right {{{suit.symbol}}}
    span.suit.middle_left {{{suit.symbol}}}
    span.suit.middle_top {{{suit.symbol}}}
    span.suit.middle_right {{{suit.symbol}}}
    span.suit.bottom_left {{{suit.symbol}}}
    span.suit.bottom_right {{{suit.symbol}}}
    .corner.bottom
      span.number 7
      span {{{suit.symbol}}}
script#card-eight(type='text/x-mustache-template')
  .card-eight
    .corner.top
      span.number 8
      span {{{suit.symbol}}}
    span.suit.top_left {{{suit.symbol}}}
    span.suit.top_right {{{suit.symbol}}}
    span.suit.middle_left {{{suit.symbol}}}
    span.suit.middle_top {{{suit.symbol}}}
    span.suit.middle_right {{{suit.symbol}}}
    span.suit.middle_bottom {{{suit.symbol}}}
    span.suit.bottom_left {{{suit.symbol}}}
    span.suit.bottom_right {{{suit.symbol}}}
    .corner.bottom
      span.number 8
      span {{{suit.symbol}}}
script#card-nine(type='text/x-mustache-template')
  .card-nine
    .corner.top
      span.number 9
      span {{{suit.symbol}}}
    span.suit.top_left {{{suit.symbol}}}
    span.suit.top_right {{{suit.symbol}}}
    span.suit.middle_top_left {{{suit.symbol}}}
    span.suit.middle_center {{{suit.symbol}}}
    span.suit.middle_top_right {{{suit.symbol}}}
    span.suit.bottom_left {{{suit.symbol}}}
    span.suit.bottom_right {{{suit.symbol}}}
    span.suit.middle_bottom_left {{{suit.symbol}}}
    span.suit.middle_bottom_right {{{suit.symbol}}}
    .corner.bottom
      span.number 9
      span {{{suit.symbol}}}
script#card-ten(type='text/x-mustache-template')
  .card-ten
    .corner.top
      span.number 10
      span {{{suit.symbol}}}
    span.suit.top_left {{{suit.symbol}}}
    span.suit.top_right {{{suit.symbol}}}
    span.suit.middle_top_left {{{suit.symbol}}}
    span.suit.middle_top_center {{{suit.symbol}}}
    span.suit.middle_top_right {{{suit.symbol}}}
    span.suit.bottom_left {{{suit.symbol}}}
    span.suit.bottom_right {{{suit.symbol}}}
    span.suit.middle_bottom_center {{{suit.symbol}}}
    span.suit.middle_bottom_left {{{suit.symbol}}}
    span.suit.middle_bottom_right {{{suit.symbol}}}
    .corner.bottom
      span.number 10
      span {{{suit.symbol}}}
script#card-jack(type='text/x-mustache-template')
  .card-jack
    .corner.top
      span.number J
      span {{{suit.symbol}}}
    span.face.middle_center
      img(src='img/faces/face-jack-{{suit.name}}.png')
    .corner.bottom
      span.number J
      span {{{suit.symbol}}}
script#card-queen(type='text/x-mustache-template')
  .card-queen
    .corner.top
      span.number Q
      span {{{suit.symbol}}}
    span.face.middle_center
      img(src='img/faces/face-queen-{{suit.name}}.png')
    .corner.bottom
      span.number Q
      span {{{suit.symbol}}}
script#card-king(type='text/x-mustache-template')
  .card-king
    .corner.top
      span.number K
      span {{{suit.symbol}}}
    span.face.middle_center
      img(src='img/faces/face-king-{{suit.name}}.png')
    .corner.bottom
      span.number K
      span {{{suit.symbol}}}
script#card-ace(type='text/x-mustache-template')
  .card-ace
    .corner.top
      span.number A
      span {{{suit.symbol}}}
    span.suit.middle_center {{{suit.symbol}}}
    .corner.bottom
      span.number A
      span {{{suit.symbol}}}
